@include component(hero) {
  height: 100vh;
  background: url('/assets/img/coffee-cup-bed-bedroom.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  padding: 40px 0;
  box-sizing: border-box;
}