@include component(party-members) {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px;
  width: 300px;
  box-sizing: border-box;
  background: $palette__c;

  @include part(brew-icon) {
    height: 20px;
    width: 20px;
    background: url('/assets/img/brew.png') no-repeat center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-60%);

  }

  @include part(list) {
    padding: 20px 0;

    @include part(item) {
      @extend .cf;
      margin-bottom: 20px;
      border: 1px solid $palette__b;
      padding: 20px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

    }
  }

  @include part(member-name) {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }

  @include part(title) {
    font-size: 1.5rem;
  }
}