/*************************************************|
| Breakpoints                                     |
*************************************************/

$mobile                            : 320px;
$tablet                            : 560px;
$landscapetablet                   : 960px;
$desktop                           : 1260px;

/*************************************************|
| Fonts                                           |
*************************************************/

$basefont                          : 'Neuton', sans-serif;
$boldfont                          : 'CenturyGothic', sans-serif;
$headerfont                        : 'CenturyGothicBold', sans-serif;

/*************************************************|
| Font Sizes                                      |
*************************************************/

$basefontsize__mobile              : 16px;
$basefontsize__tablet_portrait     : 16px;
$basefontsize__tablet_landscape    : 16px;
$basefontsize__desktop             : 16px;
$lineheight                        : 19px;
/*************************************************|
| Colours                                         |
*************************************************/

$palette__a                        : #0A0908;
$palette__b                        : #49111C;
$palette__c                        : #F2F4F3;
$palette__d                        : #A9927D;
$palette__e                        : #5E503F;


/*************************************************|
| Font Colours                                    |
*************************************************/

$basefontcolor                     : $palette__b;
$offblack                          : #0f2b3d;
$offblack__lighter                          : #1f455f;
$basegrey                          : #504f4e;
$headerfontcolor                   : #504f4e;
$buttontextcolor                   : #fff;


/*************************************************|
| Form Controls                                   |
*************************************************/

$inputheight                       : 30px;

/*************************************************|
| Grid Variables                                  |
*************************************************/

$max-width                         : 1400px;
$columncount__desktop              : 12;
$columncount__landscapetablet      : 10;
$columncount__tablet               : 8;
$columncount__mobile               : 4;
$gutter__desktop                   : 3.8%;
$gutter__landscapetablet           : 3.5%;
$gutter__tablet                    : 3.5%;
$gutter__mobile                    : 3.5%;

/*************************************************|
| Padding Variables                               |
*************************************************/

$basepadding__mobile               : 14px;
$basepadding                       : 28px;
$largepadding                      : 1.8em;

/*************************************************|
| Transition Times                                |
*************************************************/
$transition_time                   : 0.3s;

/*************************************************|
| Input stuff                                |
*************************************************/
$inputBorder                   : #a5b9c7;
